body{
	background: rgba(0, 0, 0, 0.9);
}
.title{
	box-shadow: 1px 2px 7px rgba(255, 255, 255, 0.5);
	width: 50%;
    margin-left: 24%;
}
.title h1{
	text-align: center;
	font-size: 50px;
	font-family: 'PT Serif', serif;
	color: rgba(255, 255, 255, 0.7);
}
.introduction {
	border: 1px solid black;
	box-shadow: 1px 2px 7px rgba(255, 255, 255, 0.5);
	margin: 10%;
}
.introduction h1{
	text-align: center;
	font-size: 35px;
	color: rgba(255, 255, 255, 0.7);
}
.introduction p{
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
	font-size: 25px;

}
.education {
	border: 1px solid black;
	box-shadow: 1px 2px 7px rgba(255, 255, 255, 0.5);
	margin: 10%;
}
.education h1{
	text-align: center;
	font-size: 35px;
	color: rgba(255, 255, 255, 0.7);
}
.education p{
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
	font-size: 25px;

}

.languages {
	border: 1px solid black;
	box-shadow: 1px 2px 7px rgba(255, 255, 255, 0.5);
	margin: 10%;
}
.languages h1{
	text-align: center;
	font-size: 35px;
	color: rgba(255, 255, 255, 0.7);
}
.languages p{
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
	font-size: 25px;

}

.hobbies {
	border: 1px solid black;
	box-shadow: 1px 2px 7px rgba(255, 255, 255, 0.5);
	margin: 10%;
}
.hobbies h1{
	text-align: center;
	font-size: 35px;
	color: rgba(255, 255, 255, 0.7);
}
.hobbies p{
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
	font-size: 25px;

}
